.formatted-content {
    text-align: justify;
    font-size: 180%; /* Justificar el texto */
    color: #333; /* Cambiar el color principal */
  }
  
  .formatted-line {
    margin: 0;
    padding: 0;
  }
  
  .hover-word-esp {
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
    margin-right: 4px; /* Añadir espacio entre palabras */
    cursor: default;
  }
  
  .hover-word-esp:hover {
    transform: scale(1.1);
    color: #ff924c;
  }